*{
    box-sizing: border-box;
}

body{
    font-family: 'Dongle', sans-serif;
    font-family: 'Poppins', sans-serif;
}

a{
    display: inline-block;
    text-decoration: none;
}

header{
    padding: 10px 0;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton{
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.boton.boton-rojo{
    color: white;
    background-color: red;
    border-radius: 15px;
    box-shadow: 0 0 2px rgb(117, 34, 34);
    font-size: 15px;
    font-weight: bolder;
}

.boton.boton-rojo:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

.boton.boton-blanco{
    color: white;
    background-color: red;
    border-radius: 15px;
    box-shadow: 0 0 2px rgb(117, 34, 34);
    font-size: 12px;
    font-weight: bolder;
}

.boton.boton-blanco:hover{
    color: white;
    background-color: rgb(0, 0, 0);

}

.boton.boton-negro{
    color: white;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 2px rgb(117, 34, 34);
    font-size: 12px;
    font-weight: bolder;
}

.boton.boton-negro:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

.seccion{
    padding-top: 50px;
    padding-bottom: 50px;
}

.cuadrado-perfecto{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.cuadrado-perfecto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

header .container .logo{
    width: 100px;
}

header .container nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
}

header .container .hamb{
    display: none;
    position: relative;
}

footer{
    background-color: black;
    color: white;
    padding-top: 60px;
}

footer .barra-footer{
    background-color: gray;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .logo-footer{
    width: 100%;
}

footer p{
    color: white;
    margin-bottom: 30px;
}

footer a{
    color: white;
}


footer ul{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

footer ul li{
    margin-bottom: 7px;
}

footer .redes{
    font-size: 30px;
    display: flex;
   
}

footer .redes a{
    margin: 0 10px;
}


.container{
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.container-fluid{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.columna{
    padding-right: 15px;
    padding-left: 15px;
}

.columna-33{
    width: 33.33%;
}

.columna-41{
    width: 41.66%;
}

.columna-25{
    width: 25%;
}

.empujar-50{
    margin-left: 50%;
}

.empujar-58{
    margin-left: 58.33%;
}

.empujar-66{
    margin-left: 66.66%;
}

.empujar-0{
    margin-left: 0%;
}

#inicio{
    position: relative;
}

#inicio img{
    width: 100%;
    display: block;
}

#inicio .bloque-inicio{
    position: absolute;
    top: 30%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

#inicio .bloque-inicio h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}

#inicio .bloque-inicio p{
    color: white;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 30px;
}

#nosotros{
    background-image: url(./img/latas.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

#nosotros p{
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}

#servicios .bloque-servicio{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 14px rgb(117, 34, 34);

}

#servicios .bloque-servicio .bloque-img-servicio{

}

#servicios .bloque-servicio .bloque-img-servicio img{
    border-radius: 15px 15px 0 0;
    width: 100%;
}

#servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto{
    padding-bottom: 56.25%;
}

#servicios .bloque-servicio .bloque-contenido-servicio{
    padding: 12px;
}

#servicios .bloque-servicio .bloque-contenido-servicio h3{
    margin-top: 0;
}

#galeria{

}

#galeria h4{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 18px;
    width: 100%;
}

#galeria img{
    filter: grayscale(1);
}

#galeria .cuadrado-perfecto:hover img{
    filter: grayscale(0);
}

#galeria .cuadrado-perfecto:hover h4{
    display: none;
}

#contactanos{
    position: relative;
}

#contactanos iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contactanos form{
    padding: 30px;
    background-color: red;
    border-radius: 15px;
    box-shadow: 0 0 14px rgb(117, 34, 34);
}

#contactanos form .form-block{
    width: 100%;
    margin-bottom: 15px;
}

#contactanos form .form-block .form-control {
    display: block;
    height: 40px;
    font-size: 16px;
    border: 1px solid gray;
    width: 100%;
    padding: 5px 10px;
}

#contactanos form .form-block textarea {
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid gray;
    width: 100%;
    padding: 5px 10px;    
}

#contactanos form .form-block.bloque-ultimo {
    margin-bottom: 0;
}

@media(max-width: 767px){

    body{
        font-size: 13px;
    }
    
    header .container nav{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 15px;
        padding-left: 15px;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.4s ease;
        transform: translateX(100%);
    }

    header .container nav.open{
        transform: translateX(0);
    }

    header .container nav a{
        font-size: 25px;
        margin: 10px 0;
        text-align: right;
    }

    header .container .hamb{
        display: block;
        font-size: 40px;
        color: white;
    }

    form .boton.boton-negro{
        width: 100%;
    }

    footer{
        text-align: center;
    }

    footer .logo-footer{
        width: 50%;
    }

    footer .redes{
        justify-content: center;
    }

    .container{
        width: 100%;
    }

    .columna-mobile-100{
        width: 100%;
    }

    .empujar-mobile-0{
        margin-left: 0;
    }

    .sinpadding-mobile{
        margin-left: 0;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #inicio{
        height: 100vh;
    }

    #inicio img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    #inicio .bloque-inicio h1{
        font-size: 23px;
    }

    #inicio .bloque-inicio p{
        font-size: 13px;
        background-color: rgba(0, 0, 0, 0.356);
        border-radius: 10px;

    }

    #nosotros p{
        font-size: 13px;
    }

    #galeria h4{
        font-size: 13px;
    }

    #servicios .bloque-servicio{
        margin-bottom: 15px;
    }

    #contactanos{
        padding: 0;
    }

    #contactanos iframe{
        position: relative;
        height: 50vh;
    }
}
